艾芬达6号库WCS/v1.2/WMSServices/Service References/WmsServices/DC2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DC2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DC2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WcsRequestInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdditionalInfo" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ContainerCodes" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Height" type="xs:decimal" />
      <xs:element minOccurs="0" name="LocationUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WcsRequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcsRequestInfo" nillable="true" type="tns:WcsRequestInfo" />
  <xs:complexType name="WcsTaskInfo">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdditionalInfo" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ContainerCodes" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcsTaskInfo" nillable="true" type="tns:WcsTaskInfo" />
  <xs:complexType name="WcsRequestCurrentLocation">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdditionalInfo" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ContainerCodes" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="CurrentLocationLocationUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InOrOutStock" type="xs:int" />
      <xs:element minOccurs="0" name="LocationUserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WcsRequestId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcsRequestCurrentLocation" nillable="true" type="tns:WcsRequestCurrentLocation" />
</xs:schema>