艾芬达6号库WCS/v1.2/WMSServices/Service References/WmsServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfWmsServiceForWcs" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWcfWmsServiceForWcs_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DC2" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Wms" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfWmsServiceForWcs_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:Request" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_CompleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteTask" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_CompleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_RequestingTask_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestingTask" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_RequestingTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestingTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_TaskErrorAndRequestNewEndPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:TaskErrorAndRequestNewEndPoint" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_TaskErrorAndRequestNewEndPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaskErrorAndRequestNewEndPointResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_CompletingTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CompletingTask" />
  </wsdl:message>
  <wsdl:message name="IWcfWmsServiceForWcs_CompletingTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompletingTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfWmsServiceForWcs">
    <wsdl:operation name="Request">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/Request" message="tns:IWcfWmsServiceForWcs_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/RequestResponse" message="tns:IWcfWmsServiceForWcs_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/CompleteTask" message="tns:IWcfWmsServiceForWcs_CompleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/CompleteTaskResponse" message="tns:IWcfWmsServiceForWcs_CompleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestingTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/RequestingTask" message="tns:IWcfWmsServiceForWcs_RequestingTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/RequestingTaskResponse" message="tns:IWcfWmsServiceForWcs_RequestingTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaskErrorAndRequestNewEndPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/TaskErrorAndRequestNewEndPoint" message="tns:IWcfWmsServiceForWcs_TaskErrorAndRequestNewEndPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/TaskErrorAndRequestNewEndPointResponse" message="tns:IWcfWmsServiceForWcs_TaskErrorAndRequestNewEndPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompletingTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/CompletingTask" message="tns:IWcfWmsServiceForWcs_CompletingTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfWmsServiceForWcs/CompletingTaskResponse" message="tns:IWcfWmsServiceForWcs_CompletingTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWcfWmsServiceForWcs" type="tns:IWcfWmsServiceForWcs">
    <wsp:PolicyReference URI="#NetTcpBinding_IWcfWmsServiceForWcs_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Request">
      <soap12:operation soapAction="http://tempuri.org/IWcfWmsServiceForWcs/Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTask">
      <soap12:operation soapAction="http://tempuri.org/IWcfWmsServiceForWcs/CompleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestingTask">
      <soap12:operation soapAction="http://tempuri.org/IWcfWmsServiceForWcs/RequestingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskErrorAndRequestNewEndPoint">
      <soap12:operation soapAction="http://tempuri.org/IWcfWmsServiceForWcs/TaskErrorAndRequestNewEndPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletingTask">
      <soap12:operation soapAction="http://tempuri.org/IWcfWmsServiceForWcs/CompletingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfWmsServiceForWcs">
    <wsdl:port name="NetTcpBinding_IWcfWmsServiceForWcs" binding="tns:NetTcpBinding_IWcfWmsServiceForWcs">
      <soap12:address location="net.tcp://192.168.1.3:1360/WcfWmsServiceForWcs.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.3:1360/WcfWmsServiceForWcs.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>