艾芬达6号库WCS/v1.2/WMSServices/Service References/WmsServices/Wms.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IDataModelBase.InvokeMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewEndPoint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IDataModelBase.InvokeMsg" nillable="true" type="tns:IDataModelBase.InvokeMsg" />
</xs:schema>