艾芬达6号库WCS/v1.2/WebUI/Service References/WebUIService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" />
  <xs:element name="GetConveyorCurrentTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConveyorCurrentTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="GetConveyorCurrentTasksResult" nillable="true" type="q1:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConveyorStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConveyorStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="GetConveyorStatusResult" nillable="true" type="q2:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConveyorStatusFromLastReceivedPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConveyorStatusFromLastReceivedPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="GetConveyorStatusFromLastReceivedPackageResult" nillable="true" type="q3:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCraneStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCraneStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="GetCraneStatusResult" nillable="true" type="q4:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="GetTasksResult" nillable="true" type="q5:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="GetTaskDetailsResult" nillable="true" type="q6:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="SuspendTaskResult" nillable="true" type="q7:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="CompleteTaskResult" nillable="true" type="q8:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="CancelTaskResult" nillable="true" type="q9:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="ResumeTaskResult" nillable="true" type="q10:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeTaskWithCurrentLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeTaskWithCurrentLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="ResumeTaskWithCurrentLocationResult" nillable="true" type="q11:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesConnectionStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesConnectionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" minOccurs="0" name="GetDevicesConnectionStatusResult" nillable="true" type="q12:WebUIServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>