艾芬达6号库WCS/v1.2/WebUI/Service References/WebUIService/Wcs.Services.Wcf.WebUI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcs.Services.Wcf.WebUI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WebUIServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebUIServiceResult" nillable="true" type="tns:WebUIServiceResult" />
</xs:schema>