艾芬达6号库WCS/v1.2/RemoteDiagnose/Client/Client.App/Service References/ConveyorDeviceServiceProxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConveyorServiceProxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConveyorService_GetDiagnoseMatedatas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDiagnoseMatedatas" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_GetDiagnoseMatedatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDiagnoseMatedatasResponse" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_ClearTask_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearTask" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_ClearTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_ClearLocationTask_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearLocationTask" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_ClearLocationTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearLocationTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_AddTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTask" />
  </wsdl:message>
  <wsdl:message name="IConveyorService_AddTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IConveyorService">
    <wsdl:operation name="GetDiagnoseMatedatas">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatedataService/GetDiagnoseMatedatas" message="tns:IConveyorService_GetDiagnoseMatedatas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatedataService/GetDiagnoseMatedatasResponse" message="tns:IConveyorService_GetDiagnoseMatedatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IConveyorService/GetStatus" message="tns:IConveyorService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConveyorService/GetStatusResponse" message="tns:IConveyorService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IConveyorService/ClearTask" message="tns:IConveyorService_ClearTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConveyorService/ClearTaskResponse" message="tns:IConveyorService_ClearTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IConveyorService/DeleteTask" message="tns:IConveyorService_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConveyorService/DeleteTaskResponse" message="tns:IConveyorService_DeleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearLocationTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IConveyorService/ClearLocationTask" message="tns:IConveyorService_ClearLocationTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConveyorService/ClearLocationTaskResponse" message="tns:IConveyorService_ClearLocationTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IConveyorService/AddTask" message="tns:IConveyorService_AddTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConveyorService/AddTaskResponse" message="tns:IConveyorService_AddTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConveyorService" type="tns:IConveyorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDiagnoseMatedatas">
      <soap:operation soapAction="http://tempuri.org/IMatedataService/GetDiagnoseMatedatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IConveyorService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTask">
      <soap:operation soapAction="http://tempuri.org/IConveyorService/ClearTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/IConveyorService/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearLocationTask">
      <soap:operation soapAction="http://tempuri.org/IConveyorService/ClearLocationTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <soap:operation soapAction="http://tempuri.org/IConveyorService/AddTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConveyorServiceProxy">
    <wsdl:port name="BasicHttpBinding_IConveyorService" binding="tns:BasicHttpBinding_IConveyorService">
      <soap:address location="http://localhost:9991/ConveyorServiceProxy" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>