艾芬达6号库WCS/v1.2/RemoteDiagnose/Client/Client.App/Service References/ConveyorDataDiagnoseMatedataService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDiagnoseMatedatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minDataId" type="xs:int" />
        <xs:element minOccurs="0" name="batchSize" type="xs:int" />
        <xs:element minOccurs="0" name="appInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiagnoseMatedatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDiagnoseMatedatasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>