艾芬达6号库WCS/v1.2/Plugins/TwoForksCraneManualClient/Service References/TwoForksCraneService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TwoForksCraneService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CraneService.TwoForksCrane" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Wcs.DefaultImpls.Crane" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Wcs.DefaultImpls.TwoForksCrane" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITwoForksCraneService_LoadCraneInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCraneInfos" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_LoadCraneInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCraneInfosResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_ReadStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStatus" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_ReadStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_BackToTheOrigin_InputMessage">
    <wsdl:part name="parameters" element="tns:BackToTheOrigin" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_BackToTheOrigin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackToTheOriginResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_EmergencyStop_InputMessage">
    <wsdl:part name="parameters" element="tns:EmergencyStop" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_EmergencyStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmergencyStopResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_CancelEmergencyStop_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelEmergencyStop" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_CancelEmergencyStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelEmergencyStopResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Move_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_MoveByForkDirection_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveByForkDirection" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_MoveByForkDirection_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveByForkDirectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_MoveByForkDirectionAndFork_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveByForkDirectionAndFork" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_MoveByForkDirectionAndFork_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveByForkDirectionAndForkResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Pick_InputMessage">
    <wsdl:part name="parameters" element="tns:Pick" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Pick_OutputMessage">
    <wsdl:part name="parameters" element="tns:PickResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Putdown_InputMessage">
    <wsdl:part name="parameters" element="tns:Putdown" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Putdown_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutdownResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Lock_InputMessage">
    <wsdl:part name="parameters" element="tns:Lock" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Lock_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Unlock_InputMessage">
    <wsdl:part name="parameters" element="tns:Unlock" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Unlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Up_InputMessage">
    <wsdl:part name="parameters" element="tns:Up" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Up_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Down_InputMessage">
    <wsdl:part name="parameters" element="tns:Down" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Down_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Forward_InputMessage">
    <wsdl:part name="parameters" element="tns:Forward" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Forward_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForwardResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Back_InputMessage">
    <wsdl:part name="parameters" element="tns:Back" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_Back_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackResponse" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_ResetWarn_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetWarn" />
  </wsdl:message>
  <wsdl:message name="ITwoForksCraneService_ResetWarn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetWarnResponse" />
  </wsdl:message>
  <wsdl:portType name="ITwoForksCraneService">
    <wsdl:operation name="LoadCraneInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/LoadCraneInfos" message="tns:ITwoForksCraneService_LoadCraneInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/LoadCraneInfosResponse" message="tns:ITwoForksCraneService_LoadCraneInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/ReadStatus" message="tns:ITwoForksCraneService_ReadStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/ReadStatusResponse" message="tns:ITwoForksCraneService_ReadStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BackToTheOrigin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/BackToTheOrigin" message="tns:ITwoForksCraneService_BackToTheOrigin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/BackToTheOriginResponse" message="tns:ITwoForksCraneService_BackToTheOrigin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmergencyStop">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/EmergencyStop" message="tns:ITwoForksCraneService_EmergencyStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/EmergencyStopResponse" message="tns:ITwoForksCraneService_EmergencyStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelEmergencyStop">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/CancelEmergencyStop" message="tns:ITwoForksCraneService_CancelEmergencyStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/CancelEmergencyStopResponse" message="tns:ITwoForksCraneService_CancelEmergencyStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Move" message="tns:ITwoForksCraneService_Move_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/MoveResponse" message="tns:ITwoForksCraneService_Move_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveByForkDirection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/MoveByForkDirection" message="tns:ITwoForksCraneService_MoveByForkDirection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/MoveByForkDirectionResponse" message="tns:ITwoForksCraneService_MoveByForkDirection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveByForkDirectionAndFork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/MoveByForkDirectionAndFork" message="tns:ITwoForksCraneService_MoveByForkDirectionAndFork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/MoveByForkDirectionAndForkResponse" message="tns:ITwoForksCraneService_MoveByForkDirectionAndFork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pick">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Pick" message="tns:ITwoForksCraneService_Pick_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/PickResponse" message="tns:ITwoForksCraneService_Pick_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Putdown">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Putdown" message="tns:ITwoForksCraneService_Putdown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/PutdownResponse" message="tns:ITwoForksCraneService_Putdown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lock">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Lock" message="tns:ITwoForksCraneService_Lock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/LockResponse" message="tns:ITwoForksCraneService_Lock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unlock">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Unlock" message="tns:ITwoForksCraneService_Unlock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/UnlockResponse" message="tns:ITwoForksCraneService_Unlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Up">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Up" message="tns:ITwoForksCraneService_Up_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/UpResponse" message="tns:ITwoForksCraneService_Up_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Down">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Down" message="tns:ITwoForksCraneService_Down_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/DownResponse" message="tns:ITwoForksCraneService_Down_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Forward">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Forward" message="tns:ITwoForksCraneService_Forward_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/ForwardResponse" message="tns:ITwoForksCraneService_Forward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Back">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/Back" message="tns:ITwoForksCraneService_Back_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/BackResponse" message="tns:ITwoForksCraneService_Back_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetWarn">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwoForksCraneService/ResetWarn" message="tns:ITwoForksCraneService_ResetWarn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwoForksCraneService/ResetWarnResponse" message="tns:ITwoForksCraneService_ResetWarn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITwoForksCraneService" type="tns:ITwoForksCraneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadCraneInfos">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/LoadCraneInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStatus">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/ReadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BackToTheOrigin">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/BackToTheOrigin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmergencyStop">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/EmergencyStop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelEmergencyStop">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/CancelEmergencyStop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Move" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveByForkDirection">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/MoveByForkDirection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveByForkDirectionAndFork">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/MoveByForkDirectionAndFork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pick">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Pick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Putdown">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Putdown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lock">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Lock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unlock">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Unlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Up">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Up" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Down">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Down" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Forward">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Forward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Back">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/Back" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetWarn">
      <soap:operation soapAction="http://tempuri.org/ITwoForksCraneService/ResetWarn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwoForksCraneService">
    <wsdl:port name="BasicHttpBinding_ITwoForksCraneService" binding="tns:BasicHttpBinding_ITwoForksCraneService">
      <soap:address location="http://localhost:9991/TwoForksCraneService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>