艾芬达6号库WCS/v1.2/Plugins/TwoForksCraneManualClient/Service References/TwoForksCraneService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CraneService.TwoForksCrane" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Wcs.DefaultImpls.Crane" />
  <xs:element name="LoadCraneInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCraneInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CraneService.TwoForksCrane" minOccurs="0" name="LoadCraneInfosResult" nillable="true" type="q1:ArrayOfCraneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReadStatusResult" nillable="true" type="q2:ArrayOfKeyValueOfstringLA0LlB7Adf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BackToTheOrigin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BackToTheOriginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmergencyStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmergencyStopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEmergencyStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEmergencyStopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userColumn" type="xs:int" />
        <xs:element minOccurs="0" name="userLevel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveByForkDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userColumn" type="xs:int" />
        <xs:element minOccurs="0" name="userLevel" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcs.DefaultImpls.Crane" minOccurs="0" name="forkDirection" type="q3:ForkDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveByForkDirectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveByForkDirectionAndFork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alignToFork1" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveByForkDirectionAndForkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Pick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcs.DefaultImpls.Crane" minOccurs="0" name="fork1Direction" nillable="true" type="q4:ForkDirection" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wcs.DefaultImpls.Crane" minOccurs="0" name="fork2Direction" nillable="true" type="q5:ForkDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Putdown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wcs.DefaultImpls.Crane" minOccurs="0" name="fork1Direction" nillable="true" type="q6:ForkDirection" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wcs.DefaultImpls.Crane" minOccurs="0" name="fork2Direction" nillable="true" type="q7:ForkDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutdownResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Lock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Up">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Down">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Forward">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForwardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Back">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetWarn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="craneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetWarnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>